<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<table>
			<% for (let i = 0; i < message.length; i++) { %>
				<tr>
					<td><%= message[i].title %> </td>
			 		<td><%= message[i].body %> </td>
				</tr>
			<% } %>
		</table>
	</body>
</html>
