<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>

		<form action="/" method="post">

			<input name="title" type="text" placeholder="Title"/>
			<textarea name="body" placeholder="Message"></textarea>
			<button>Submit</button>

		</form>
	</body>
</html>
